<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的礼包</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <link rel="icon" href="images/favicon.ico">
    <script src="js/limit.js"></script>
    <link rel="stylesheet" href="css/pager.css">
    <link rel="stylesheet" href="css/polyfill.object-fit.min.css">
    <link rel="stylesheet" href="css/all.css">
</head>
<body>

<div class="shopIndex" v-cloak>

    <!--用户-->
    <div class="user_index">

        <!--props传递时 必须把驼峰写成 “-”分割的-->
        <head-top-nav :is-box="isBox" :touxiang="touxiang" :is-full="isFull"></head-top-nav>

        <page :pages="pages" :is-full="isFull"></page>

        <div class="left_user" :style="{right:isFull?'20px':'300px'}">
            <div class="user_header">
                <div class="float_right">
                    <a class="chongzhiBtn" @click="clickDuiHuan">兑换</a>
                </div>
            </div>
            <div class="user_content">
                <table v-if="list.length>0">
                    <tr
                            :class="{setr:curIndex===index,setr2:curIndex2===index}"
                            v-for="(item,index) in list"
                            @click="curIndex=index"
                            @mouseover="curIndex2=index"
                            @mouseout="curIndex2=-1"
                    >
                        <td width="108" class="bg">
                            {{item.goodName}}
                            <b v-if="curIndex===index">名称</b>
                        </td>
                        <td width="88">
                            {{item.steamUrl}}
                            <b v-if="curIndex===index">卡密</b>
                        </td>
                        <td width="88">
                            <div class="flex_jinyi">
                                <p>
                                    <img src="./images/add1.png" alt="">
                                    <span>{{item.goldCount}}</span>
                                </p>
                                <p>
                                    <img src="./images/add2.png" alt="">
                                    <span>{{item.silverCount}}</span>
                                </p>
                            </div>
                            <b v-if="curIndex===index">花费</b>
                        </td>
                        <td>
                            {{item.BuyTime}}
                            <b v-if="curIndex===index">编号</b>
                        </td>
                        <td>
                            {{item.exchangeStatus===0?'未兑换':item.exchangeStatus===1?'已兑换':'已取消'}}
                            <b v-if="curIndex===index">状态</b>
                        </td>
                    </tr>
                </table>
                <div v-else style=" text-align: center; line-height: 500px; font-size: 20px;">
                    暂无数据
                </div>
            </div>
        </div>
        <div class="updown" @click="isFull=!isFull" :style="{right:isFull?'0px':'280px'}">
            <img :src="isFull?'./images/left_user2.png':'./images/left_user.png'" alt="">
        </div>

        <!--传递值得时候注意 驼峰命名要写成中间是“-”分割的-->
        <center-right-nav :is-auth="isAuth" :touxiang="touxiang" :is-full="isFull"></center-right-nav>

    </div>

    <!--置换金币-->
    <zhi-huan :touxiang="touxiang"></zhi-huan>

    <!--兑换-->
    <div class="dialog" v-if="duihuan">
        <div class="dialog_content">
            <div class="pc">
                <img src="./images/jb.jpg" style="float: left; width: 240px;height: 420px;object-fit: cover;">
                <div class="right">
                    <!--{{list[curIndex].goodName}}-->
                    <p class="title">{{list[curIndex].goodName}}</p>
                    <div class="duihuan duihuan1" v-if="dhStep==1 && exchangeStatus==0">
                        <div class="bt">兑换至</div>
                        <div class="zh">
                            <p>steam账号</p>
                            <input v-model="dhuser" type="text" placeholder="steam账号">
                        </div>
                        <div class="zh">
                            <p>steam密码</p>
                            <input v-model="dhpass" type="password" placeholder="steam密码">
                        </div>
                        <a href="javascript:;" @click="enterDuiHuan" class="registerBtn shiqu">兑换</a>
                    </div>

                    <div class="duihuan duihuan2" v-if="dhStep==2">
                        <div class="zh">
                            <p>验证令牌</p>
                            <input type="text" placeholder="手机令牌" v-model="lp">
                        </div>
                        <a href="javascript:;" @click="lpEnter" class="registerBtn shiqu">确认</a>
                    </div>

                    <div class="duihuan duihuan3" v-if="exchangeStatus==1">
                        <p>有没有兑换你心里没点数？</p>
                        <a href="javascript:;" @click="duihuan=!duihuan" class="registerBtn shiqu">告辞</a>
                    </div>
                    <!--<div class="duihuan duihuan4" v-if="dhStep==4">
                        <p>兑换已过期</p>
                        <a href="javascript:;" @click="duihuan=!duihuan" class="registerBtn shiqu">告辞</a>
                    </div>-->
                    <div class="duihuan duihuan4" v-if="dhStep==5">
                        <p>兑换成功</p>
                        <a href="javascript:;" @click="duihuan=!duihuan" class="registerBtn shiqu">告辞</a>
                    </div>
                    <div class="duihuan duihuan4" v-if="dhStep==6">
                        <p>兑换失败</p>
                        <a href="javascript:;" @click="duihuan=!duihuan" class="registerBtn shiqu">告辞</a>
                    </div>
                </div>
            </div>
            <a class="closed2" @click="duihuan=!duihuan" href="javascript:;">
                <img src="./images/closed2.png" alt="">
            </a>
        </div>
    </div>

</div>

</body>
</html>
<script src="js/jquery-1.10.1.min.js"></script>
<script src="js/pager.js"></script>
<script src="js/main.js"></script>
<script src="js/vue.js"></script>
<script src="components/headTopNav.js"></script>
<script src="components/rightNav.js"></script>
<script src="components/zhiHuan.js"></script>
<script src="components/page.js"></script>
<script src="js/polyfill.object-fit.min.js"></script>
<script>
    var index=new Vue({
        el:'.shopIndex',
        data:{
            touxiang:api+'/static/images/renxing.png',
            userInfor:userInfor, //是否登录
            isAuth:false, //是否有管理员权限开关 自己定义
            isFull:false, //是否为全屏
            curIndex:-1,
            curIndex2:-1,
            exchangeStatus:0, //兑换状态
            // 分页
            page:1,
            limit:10,
            list:[],
            pages:'',
            skey:'',
            isBox:'',
            duihuan:false, //兑换弹出
            dhStep:1, //兑换步骤
            dhuser:'',
            dhpass:'',
            lp:'',
            num:0, //次数
            timer:null
        },
        watch:{
            // 弹出关闭 重置数据
            duihuan(a){
                if(!a){
                    console.log(a)
                    // 重置
                    this.dhStep=1, //兑换步骤
                    this.dhuser='',
                    this.dhpass='',
                    this.lp='',
                    this.num=0, //次数
                    this.timer=null
                    this.getData(this.skey)
                }
            }
        },
        mounted(){
            objectFit.polyfill({
                selector: 'img',
                fittype: 'cover'
            });

            this.getData(this.skey)
        },
        methods:{
            // 礼包列表
            getData(skey){
                var that=this;
                $.ajax({
                    url:api+'/baba/goods/getUserGoodList',
                    type:'get',
                    beforeSend:function(){
                        loading.show()
                    },
                    data:{
                        skey:skey,
                        page:this.page,
                        limit:this.limit
                    },
                    success:function(res){
                        loading.hide()
                        if(res.code == 'LPB0001'){
                            that.list=res.data.data
                            that.pages=res.data.pages
                            if(res.data.orther){
                                that.isBox= res.data.orther.boxId
                            }else{
                                that.isBox=0
                            }
                        }
                    },
                    error:function(){
                        loading.hide()
                    }
                })
            },
            // 点击兑换
            clickDuiHuan(){
                if(this.curIndex==-1){
                    $.Prompt('请选择列表操作')
                    return false
                }else if(this.list[this.curIndex].exchangeStatus){
                    $.Prompt('只有未兑换的才可以进行兑换')
                    return false
                }
                this.exchangeStatus = this.list[this.curIndex].exchangeStatus
                this.duihuan=true
            },
            // 确认兑换
            enterDuiHuan(){
                if(!this.dhuser){
                    $.Prompt('请输入账号')
                    return false
                }
                if(!this.dhpass){
                    $.Prompt('请输入密码')
                    return false
                }
                var that=this;
                $.ajax({
                    url:api+'/baba/goods/loginshuyu',
                    type:'get',
                    beforeSend:function(){
                        loading.show()
                    },
                    data:{
                        pwd:that.dhpass, //yjgagnt
                        account:that.dhuser, //YJigeuthpbb
                        oid:that.list[that.curIndex].orderId,
                        gid:that.list[that.curIndex].goodId
                    },
                    success:function(res){
                        loading.hide()
                        console.log(res)
                        if(res.code == 'LPB0001'){
                            // isNeedCode
                            if(res.data.isNeedCode){
                                that.dhStep = 2
                            }else{
                                //that.dhStep = 5
                                that.lpInterVal()
                            }
                        }else{
                            $.Prompt(res.message)
                        }
                    },
                    error:function(){
                        loading.hide()
                    }
                })
            },
            lpEnter(){
                if(!this.lp){
                    $.Prompt('请输入令牌')
                    return false
                }
                var that=this;
                $.ajax({
                    url:api+'/baba/goods/loginshuyucode',
                    type:'get',
                    beforeSend:function(){
                        loading.show()
                    },
                    data:{
                        pwd:that.dhpass, //yjgagnt   babagame39
                        account:that.dhuser, //YJigeuthpbb  DHbhfTEasg319
                        oid:that.list[that.curIndex].orderId,
                        gid:that.list[that.curIndex].goodId,
                        code:that.lp
                    },
                    success:function(res){
                        loading.hide()
                        console.log(res)
                        if(res.code == 'LPB0001'){
                            that.lpInterVal()
                        }else{
                            $.Prompt(res.message)
                        }
                    },
                    error:function(){
                        loading.hide()
                    }
                })
            },
            lpInterVal(){
                var that=this;
                that.num++
                $.ajax({
                    url:api+'/baba/goods/getIsExchanged',
                    type:'get',
                    beforeSend:function(){
                        loading.show()
                    },
                    data:{
                        oid:that.list[that.curIndex].orderId
                    },
                    success:function(res){
                        loading.hide()
                        console.log(res)
                        if(res.code == 'LPB0001'){
                            // 一次为真 就进入成功
                            if(res.data){
                                that.dhStep=5
                                clearInterval(that.timer)
                            }else{
                                // 最后一次 才进入失败
                                if(that.num==3){
                                    $.Prompt(res.message)
                                    that.dhStep=6
                                }
                            }
                        }
                        // 循环调用
                        if(that.num>=3){
                            clearInterval(that.timer)
                        }else{
                            clearInterval(that.timer)
                            that.timer=setInterval(()=>{
                                that.lpInterVal()
                            },1000)
                        }
                    },
                    error:function(){
                        loading.hide()
                    }
                })
            }
        }
    })
</script>